Platformio/esp32s3_waveshare_first_project/assets/background_image.png
Platformio/esp32s3_waveshare_first_project/autosave/SquareLine_Project_autosave01.zip
Platformio/esp32s3_waveshare_first_project/autosave/SquareLine_Project_autosave02.zip
Platformio/esp32s3_waveshare_first_project/autosave/SquareLine_Project_autosave03.zip
Platformio/esp32s3_waveshare_first_project/autosave/SquareLine_Project_autosave04.zip
Platformio/esp32s3_waveshare_first_project/autosave/SquareLine_Project_autosave05.zip
Platformio/esp32s3_waveshare_first_project/autosave/SquareLine_Project_autosave06.zip
Platformio/esp32s3_waveshare_first_project/autosave/SquareLine_Project_autosave08.zip
Platformio/esp32s3_waveshare_first_project/backup/SquareLine_Project_backup00.zip
Platformio/esp32s3_waveshare_first_project/backup/SquareLine_Project_backup01.zip
Platformio/esp32s3_waveshare_first_project/backup/SquareLine_Project_backup02.zip
Platformio/esp32s3_waveshare_first_project/backup/SquareLine_Project_backup03.zip
Platformio/esp32s3_waveshare_first_project/backup/SquareLine_Project_backup04.zip
Platformio/esp32s3_waveshare_first_project/backup/SquareLine_Project_backup06.zip
Platformio/esp32s3_waveshare_first_project/backup/SquareLine_Project_backup07.zip
Platformio/esp32s3_waveshare_first_project/backup/SquareLine_Project_backup08.zip
Platformio/esp32s3_waveshare_first_project/backup/SquareLine_Project_backup09.zip
Platformio/esp32s3_waveshare_first_project/bin/bootloader.bin
Platformio/esp32s3_waveshare_first_project/bin/LVGL_Arduino.ino.bin
Platformio/esp32s3_waveshare_first_project/bin/partitions.bin
Platformio/esp32s3_waveshare_first_project/cache/thumb_1266861337background_image.png
Platformio/esp32s3_waveshare_first_project/CMakeLists.txt
Platformio/esp32s3_waveshare_first_project/components/ui_comp_hook.c
Platformio/esp32s3_waveshare_first_project/CST816S.h
Platformio/esp32s3_waveshare_first_project/CTS816S.cpp
Platformio/esp32s3_waveshare_first_project/esp32s3_waveshare_first_project.ino
Platformio/esp32s3_waveshare_first_project/filelist.txt
Platformio/esp32s3_waveshare_first_project/project.info
Platformio/esp32s3_waveshare_first_project/readme.md
Platformio/esp32s3_waveshare_first_project/screens/ui_Screen1.c
Platformio/esp32s3_waveshare_first_project/screens/ui_Screen1.h
Platformio/esp32s3_waveshare_first_project/SquareLine_Project.sll
Platformio/esp32s3_waveshare_first_project/SquareLine_Project.slp
Platformio/esp32s3_waveshare_first_project/SquareLine_Project.spj
Platformio/esp32s3_waveshare_first_project/ui.c
Platformio/esp32s3_waveshare_first_project/ui.h
Platformio/esp32s3_waveshare_first_project/ui_comp_hook.c
Platformio/esp32s3_waveshare_first_project/ui_events.h
Platformio/esp32s3_waveshare_first_project/ui_helpers.c
Platformio/esp32s3_waveshare_first_project/ui_helpers.h
Platformio/esp32s3_waveshare_first_project/ui_Screen1.c
Platformio/esp32s3_waveshare_first_project/ui_Screen1.h
Platformio/esp32s3_waveshare_first_project/ui_Screen2.c
Platformio/esp32s3_waveshare_first_project/ui_Screen2.h
Platformio/esp32s3_waveshare_first_project/ui_Screen3.c
Platformio/esp32s3_waveshare_first_project/ui_Screen3.h
Platformio/esp32s3_waveshare_first_project/wifi_connection.c
Platformio/esp32s3_waveshare_first_project/wifi_connection.h
